.flexible-card {
  height: 450px;
  display: flex;
  flex-direction: column;
}

.flexible-card .ant-card-body {
  flex: 1;
  flex-grow: 1;
  padding: 8px;
  min-height: 0;
}

.horizontal-action-space-compact {
  width: 100%;
  margin: 6px 0;
  button {
    flex-grow: 1 !important;
  }
}